body {
	background: #f9e933; 
	font-family: 'Droid Sans', sans-serif;
}

header, main, footer{
	min-width: 855px;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto; 
} 

/* Header */
header {
	padding: 30px 0 30px 0;
	border-bottom:1px solid #f9e933; 
	background: white; 
	overflow: auto;
} 

header h1 {
	font-size: 3em;
	color: #b33;
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px; 
} 

a {
	color: red;
	font-weight: bold;
}
/* Main */

main {
	background: white; 
	padding: 40px;
} 


img {
	float: right;
	margin: 0 0 0 20px;
	width: 13%;
}

/* Footer */

h5 {
	font-size: 1.25em;
    margin-bottom: 20px;
}

footer {
	padding: 40px;
}

.contact {
	float: left;
	width: 570px;
}

.contact p:nth-child(2) {
	color: red;
}

.sitemap{
	float: right;
	width: 285px;
}

footer ul{
	width: 230px;
}